* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: #eee;
}
#header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#nav-bar ul {
  display: flex;
  justify-content: space-around;
}
#nav-bar ul li {
  margin: 0 15px;
  list-style: none;
}
#nav-bar ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}
#nav-bar ul li a:hover {
  color: darkgray;
}
.banner {
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
#email {
  height: 35px;
  width: 300px;
  margin: 10px 0;
  padding: 2px;
  border-radius: 5px;
  border-width: 1px;
  outline: none;
  text-align: center;
}
#submit {
  padding: 5px;
  border-radius: 9px;
  border-width: 1px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  transition: all 0.7s ease;
}
#submit:hover {
  cursor: pointer;
  background: black;
  color: white;
}
.container {
  width: 80%;
  margin: 0 auto;
}
#about {
  margin: 10px auto;
  text-align: center;
  padding: 10px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.subtitle {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
}
#how-it-works {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
}
#video {
  width: 60%;
}
#pricing {
  width: 80%;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.plan {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  flex: 0 0 33%;
  border: 1px solid black;
  height: 300px;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.h {
  font-size: 1.6rem;
  margin: 10px 0;
  font-weight: 800;
}
li {
  list-style: none;
  margin: 4px 0;
  font-size: 1.2rem;
}
.price {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
}
.plan button {
  padding: 8px 10px;
  border-radius: 5px;
  border-width: 1px;
  outline: none;
  font-weight: 700;
}
.plan button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .plan {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
